@model DataLayer.Blog

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category.Tittle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.Tittle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shop.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shop.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tittle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tittle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortDes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortDes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CoverImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CoverImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DesImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DesImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BlogID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
