@model DataLayer.FooterContent


<footer class="footer-wrapper footer-layout1 background-image" style="background-image: url(&quot;Content/Refrence/img/bg/footer_bg_1.jpg&quot;);">
    <div class="widget-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget">
                        <div class="th-widget-about">
                            <div class="about-logo"><a href="home-organic-farm.html"><img src="Content/Refrence/img/logo-footer.svg" alt="Frutin"></a></div>
                            <p class="about-text">@Model.Description</p>
                            @*<div class="th-social">
                                <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a><a href="https://www.twitter.com/"><i class="fab fa-twitter"></i></a><a href="https://www.linkedin.com/"><i class="fab fa-linkedin-in"></i></a><a href="https://www.whatsapp.com/"><i class="fab fa-whatsapp"></i></a>
                            </div>*@
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">
                            <img src="Content/Refrence/img/theme-img/title_icon.svg" alt="Icon">لینک های سریع
                        </h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="about.html">درباره ما</a></li>
                                <li><a href="project.html">نمونه کارها</a></li>
                                <li><a href="faq.html">راهنما و سوالات متداول</a></li>
                                <li><a href="blog.html">وبلاگ</a></li>
                                <li><a href="contact.html">با ما تماس بگیرید</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-auto">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">
                            <img src="Content/Refrence/img/theme-img/title_icon.svg" alt="Icon">با ما تماس بگیرید
                        </h3>
                        <div class="th-widget-contact">
                            <div class="info-box">
                                <div class="info-box_icon"><i class="fas fa-location-dot"></i></div>
                                <p class="info-box_text">@Model.Address</p>
                            </div>
                            <div class="info-box">
                                <div class="info-box_icon"><i class="fas fa-phone"></i></div>
                                <p class="info-box_text">@Model.PhoneNumber</p>
                            </div>
                            <div class="info-box">
                                <div class="info-box_icon"><i class="fas fa-envelope"></i></div>
                                <p class="info-box_text"><a href="mailto:help24/7@frutin.com" class="info-box_link">@Model.Email</a></p>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
    <div class="copyright-wrap">
        <div class="container">
            <div class="row gy-2 align-items-center">
                <div class="col-md-6"><p class="copyright-text">تمامی حقوق متعلق به سایت @Html.ActionLink("Frutin","Index","Home") می باشد</p></div>
                </div>
            </div>
        </div>
    </div>
</footer>