@model IEnumerable<DataLayer.About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FrutinLayout.cshtml";
}

<div class="breadcumb-wrapper background-image" style="background-image: url(&quot;Content/Refrence/img/bg/breadcumb-bg.jpg&quot;);">
    <div class="container">
        <div class="breadcumb-content">
            <h1 class="breadcumb-title">درباره ما</h1>
            <ul class="breadcumb-menu">
                <li><a href="home-organic-farm.html">صفحه اصلی</a></li>
                <li>درباره ما</li>
            </ul>
        </div>
    </div>
</div> @* title about page *@


<div class="overflow-hidden overflow-hidden space" id="about-sec">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 mb-30 mb-xl-0">
                <div class="img-box1">
                    <div class="img1"><img src="Content/Refrence/img/normal/about_1_1.jpg" alt="About"></div>
                    <div class="img2"><img src="Content/Refrence/img/normal/about_1_2.jpg" alt="Image"></div>
                    <div class="shape1 movingX"><img src="Content/Refrence/img/normal/about_1_3.png" alt="Image"></div>
                    <div class="year-counter">
                        <div class="year-counter_number">
                            <span class="counter-number">23</span>+
                        </div>
                        <p class="year-counter_text">سالها تجربه</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="ps-xxl-5 ps-xl-2 ms-xl-1 text-center text-xl-start">
                    <div class="title-area mb-32">
                        <span class="sub-title"><img src="Content/Refrence/img/theme-img/title_icon.svg" alt="shape">درباره شرکت ما</span><h2 class="sec-title">درست غذا خوردن را با غذای ارگانیک شروع کنید</h2>
                        <p class="sec-text">غذاهای ارگانیک از طریق سیستم کشاورزی تولید می شوند که از استفاده از آفت کش های مصنوعی، علف کش ها، ارگانیسم های اصلاح شده ژنتیکی (GMOs) و کودهای مصنوعی اجتناب می کند. در عوض، کشاورزان ارگانیک به روش‌های طبیعی مانند تناوب زراعی متکی هستند. کمپوست سازی و کنترل بیولوژیکی آفات</p>
                    </div>
                    <div class="about-feature-wrap">
                        <div class="about-feature">
                            <div class="box-icon"><img src="Content/Refrence/img/icon/about_feature_1.svg" alt="Icon"></div>
                            <h3 class="box-title">رهبر کشاورزی</h3>
                        </div>
                        <div class="about-feature">
                            <div class="box-icon"><img src="Content/Refrence/img/icon/about_feature_2.svg" alt="Icon"></div>
                            <h3 class="box-title">راه حل های ارگانیک هوشمند</h3>
                        </div>
                    </div>
                    <div><a href="about.html" class="th-btn">بیشتر پیدا کن<i class="fas fa-chevrons-right ms-2"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</div> @* description *@

<section class="space bg-smoke2 shape-mockup-wrap" id="process-sec">
    <div class="shape-mockup" style="top: 0px; left: 0px;"><img src="Content/Refrence/img/shape/vector_shape_7.png" alt="shape"></div>
    <div class="shape-mockup" style="right: 0px; bottom: 0px;"><img src="Content/Refrence/img/shape/vector_shape_6.png" alt="shape"></div>
    <div class="container">
        <div class="title-area text-center">
            <span class="sub-title"><img src="Content/Refrence/img/theme-img/title_icon.svg" alt="Icon">چگونه غذاهای با کیفیت درست کنیم</span><h2 class="sec-title">چگونه آن را کار می کنیم؟</h2>
        </div>
        <div class="row gy-4 justify-content-center">
            <div class="col-xl-3 col-md-6 process-box-wrap">
                <div class="process-box">
                    <div class="box-icon"><img src="Content/Refrence/img/icon/process_box_1.svg" alt="icon"></div>
                    <div class="box-img bg-mask" style="mask-image: url(&quot;Content/Refrence/img/bg/process_bg_shape.png&quot;);"><img src="Content/Refrence/img/normal/process_box_1.jpg" alt="image"></div>
                    <p class="box-number">مرحله - 01</p>
                    <h3 class="box-title">برنامه ریزی کار</h3>
                    <p class="box-text">با انجام آزمایشات کامل خاک برای درک ترکیب، سطوح pH و مواد مغذی آن شروع کنید.</p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 process-box-wrap">
                <div class="process-box">
                    <div class="box-icon"><img src="Content/Refrence/img/icon/process_box_2.svg" alt="icon"></div>
                    <div class="box-img bg-mask" style="mask-image: url(&quot;Content/Refrence/img/bg/process_bg_shape.png&quot;);"><img src="Content/Refrence/img/normal/process_box_2.jpg" alt="image"></div>
                    <p class="box-number">مرحله - 02</p>
                    <h3 class="box-title">در حال رشد در مزرعه</h3>
                    <p class="box-text">با انجام آزمایشات کامل خاک برای درک ترکیب، سطوح pH و مواد مغذی آن شروع کنید.</p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 process-box-wrap">
                <div class="process-box">
                    <div class="box-icon"><img src="Content/Refrence/img/icon/process_box_3.svg" alt="icon"></div>
                    <div class="box-img bg-mask" style="mask-image: url(&quot;Content/Refrence/img/bg/process_bg_shape.png&quot;);"><img src="Content/Refrence/img/normal/process_box_3.jpg" alt="image"></div>
                    <p class="box-number">مرحله - 03</p>
                    <h3 class="box-title">برداشت محصول</h3>
                    <p class="box-text">با انجام آزمایشات کامل خاک برای درک ترکیب، سطوح pH و مواد مغذی آن شروع کنید.</p>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 process-box-wrap">
                <div class="process-box">
                    <div class="box-icon"><img src="Content/Refrence/img/icon/process_box_4.svg" alt="icon"></div>
                    <div class="box-img bg-mask" style="mask-image: url(&quot;Content/Refrence/img/bg/process_bg_shape.png&quot;);"><img src="Content/Refrence/img/normal/process_box_4.jpg" alt="image"></div>
                    <p class="box-number">مرحله - 04</p>
                    <h3 class="box-title">فرآوری مواد غذایی</h3>
                    <p class="box-text">با انجام آزمایشات کامل خاک برای درک ترکیب، سطوح pH و مواد مغذی آن شروع کنید.</p>
                </div>
            </div>
        </div>
    </div>
</section> @* how to we work? *@

<div class="counter-sec11 background-image" style="background-image: url(&quot;Content/Refrence/img/bg/counter_bg_1_1.jpg&quot;);">
    <div class="container">
        <div class="counter-card-wrap">
            <div class="counter-card">
                <div class="box-icon"><img src="Content/Refrence/img/icon/counter_card_1.svg" alt="Icon"></div>
                <div class="media-body">
                    <h2 class="box-number">
                        <span class="counter-number">15663</span>+
                    </h2>
                    <p class="box-text">مجموع محصولات ما</p>
                </div>
            </div>
            <div class="divider"></div>
            <div class="counter-card">
                <div class="box-icon"><img src="Content/Refrence/img/icon/counter_card_2.svg" alt="Icon"></div>
                <div class="media-body">
                    <h2 class="box-number">
                        <span class="counter-number">356</span>+
                    </h2>
                    <p class="box-text">اعضای تیم</p>
                </div>
            </div>
            <div class="divider"></div>
            <div class="counter-card">
                <div class="box-icon"><img src="Content/Refrence/img/icon/counter_card_3.svg" alt="Icon"></div>
                <div class="media-body">
                    <h2 class="box-number">
                        <span class="counter-number">2365</span>+
                    </h2>
                    <p class="box-text">مشتریان راضی</p>
                </div>
            </div>
            <div class="divider"></div>
            <div class="counter-card">
                <div class="box-icon"><img src="Content/Refrence/img/icon/counter_card_4.svg" alt="Icon"></div>
                <div class="media-body">
                    <h2 class="box-number">
                        <span class="counter-number">156</span>+
                    </h2>
                    <p class="box-text">برنده جوایز</p>
                </div>
            </div>
            <div class="divider"></div>
        </div>
    </div>
</div> @* Statistics *@

<section class="overflow-hidden bg-smoke2 shape-mockup-wrap" id="testi-sec">
    <div class="shape-mockup testi-shape1" style="top: 0px; left: 0px;"><img src="Content/Refrence/img/normal/testi_shape.png" alt="shape"></div>
    <div class="shape-mockup" style="right: 0px; bottom: 0px;"><img src="Content/Refrence/img/shape/vector_shape_5.png" alt="shape"></div>
    <div class="container">
        <div class="testi-card-area">
            <div class="title-area">
                <span class="sub-title"><img src="Content/Refrence/img/theme-img/title_icon.svg" alt="Icon">گواهینامه ها</span><h2 class="sec-title">نظرات مشتریان ما</h2>
            </div>
            <div class="testi-card-slide">
                <div class="swiper th-slider swiper-initialized swiper-horizontal swiper-rtl swiper-backface-hidden" id="testiSlide1" data-slider-options="{&quot;effect&quot;:&quot;slide&quot;}">
                    <div class="swiper-wrapper" id="swiper-wrapper-53b8105cb897108b6e" aria-live="off" style="transition-duration: 0ms; transform: translate3d(744px, 0px, 0px); transition-delay: 0ms;">


                        @foreach (var comment in Model)
                        {
                            if (comment.CommentID == ViewBag.FirstCommentID)
                            {
                                <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 2" data-swiper-slide-index="0" style="width: 720px; margin-left: 24px;">
                                    <div class="testi-card">
                                        <p class="testi-card_text">@comment.CommentText</p>
                                        <div class="testi-card_profile">
                                            <div class="testi-card_avater"><img src="~/Content/Images/Users/@comment.CommentUserImageName" alt="Avater"></div>
                                            <div class="testi-card_content">
                                                <h3 class="testi-card_name">@comment.CommentUserName</h3>
                                                <span class="testi-card_desig">@comment.CommentUserRole</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 2" data-swiper-slide-index="0" style="width: 720px; margin-left: 24px;">
                                    <div class="testi-card">
                                        <p class="testi-card_text">@comment.CommentText</p>
                                        <div class="testi-card_profile">
                                            <div class="testi-card_avater"><img src="~/Content/Images/Users/@comment.CommentUserImageName" alt="Avater"></div>
                                            <div class="testi-card_content">
                                                <h3 class="testi-card_name">@comment.CommentUserName</h3>
                                                <span class="testi-card_desig">@comment.CommentUserRole</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }


                        @*<div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 2" data-swiper-slide-index="0" style="width: 720px; margin-left: 24px;">
                                <div class="testi-card">
                                    <p class="testi-card_text">دولت‌ها مقرراتی دارند تا اطمینان حاصل کنند که محصولاتی که برچسب ارگانیک دارند، استانداردهای خاصی را رعایت می‌کنند. بازرسی ها و ممیزی های منظم برای حفظ یکپارچگی برچسب ارگانیک انجام می شود</p>
                                    <div class="testi-card_profile">
                                        <div class="testi-card_avater"><img src="Content/Refrence/img/testimonial/testi_1_1.jpg" alt="Avater"></div>
                                        <div class="testi-card_content">
                                            <h3 class="testi-card_name">آنجلینا مارگرت</h3>
                                            <span class="testi-card_desig">مشتری فروشگاه ما</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 2" data-swiper-slide-index="0" style="width: 720px; margin-left: 24px;">
                                <div class="testi-card">
                                    <p class="testi-card_text">دولت‌ها مقرراتی دارند تا اطمینان حاصل کنند که محصولاتی که برچسب ارگانیک دارند، استانداردهای خاصی را رعایت می‌کنند. بازرسی ها و ممیزی های منظم برای حفظ یکپارچگی برچسب ارگانیک انجام می شود</p>
                                    <div class="testi-card_profile">
                                        <div class="testi-card_avater"><img src="Content/Refrence/img/testimonial/testi_1_1.jpg" alt="Avater"></div>
                                        <div class="testi-card_content">
                                            <h3 class="testi-card_name">آنجلینا مارگرت</h3>
                                            <span class="testi-card_desig">مشتری فروشگاه ما</span>
                                        </div>
                                    </div>
                                </div>
                            </div>*@


                    </div>

                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
                </div>
                <div class="icon-box">
                    <button data-slider-prev="#testiSlide1" class="slider-arrow default"><i class="far fa-arrow-left"></i></button><button data-slider-next="#testiSlide1" class="slider-arrow default"><i class="far fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</section> @* comments -> dynamic  *@

<section class="space">
    <div class="container z-index-common">

        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-7 col-md-8">
                <div class="title-area text-center">
                    <span class="sub-title"><img src="Content/Refrence/img/theme-img/title_icon.svg" alt="Icon">اعضای تیم</span><h2 class="sec-title">ما تیم فوق العاده ای در اینجا داریم تا به شما کمک کند!</h2>
                </div>
            </div>
        </div>

        <div class="row gy-40 justify-content-center">



            @foreach (var shop in Model)
            {
                <div class="col-xl-4 col-md-6">
                    <div class="th-team team-card">
                        <div class="img-wrap">
                            <div class="shape bg-mask" style="mask-image: url(&quot;Content/Refrence/img/bg/team_card_bg.png&quot;);"></div>
                            <div class="team-img"><img src="~/Content/Images/Shops/@shop.ShopImageName" alt="Team"></div>
                        </div>
                        <div class="box-content">
                            <span class="team-desig">@shop.ShopRole</span><h3 class="box-title"><a href="#">@shop.ShopName</a></h3> : @* todo : dynamic shop link *@
                            <div class="social-links">

                                @foreach (var link in shop.ShopLinks)
                                {
                                    if (link.URL.Contains("facebook"))
                                    {
                                        <a target="_blank" href="@link.URL">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    }
                                    else if (link.URL.Contains("twitter"))
                                    {
                                        <a target="_blank" href="@link.URL">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    }
                                    else if (link.URL.Contains("instagram"))
                                    {
                                        <a target="_blank" href="@link.URL">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    }
                                    else if (link.URL.Contains("linkedin"))
                                    {
                                        <a target="_blank" href="@link.URL">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                    }
                                }

                                @*<a target="_blank" href="https://facebook.com/">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a target="_blank" href="https://twitter.com/">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a target="_blank" href="https://instagram.com/">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                    <a target="_blank" href="https://linkedin.com/">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>*@
                            </div>
                        </div>
                    </div>
                </div>
            }



            @*<div class="col-xl-4 col-md-6">
                    <div class="th-team team-card">
                        <div class="img-wrap">
                            <div class="shape bg-mask" style="mask-image: url(&quot;Content/Refrence/img/bg/team_card_bg.png&quot;);"></div>
                            <div class="team-img"><img src="Content/Refrence/img/team/team_1_1.jpg" alt="Team"></div>
                        </div>
                        <div class="box-content">
                            <span class="team-desig">کشاورزان ارشد</span><h3 class="box-title"><a href="team-details.html">الهاندو رابرت</a></h3>
                            <div class="social-links">
                                <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a><a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a><a target="_blank" href="https://instagram.com/"><i class="fab fa-instagram"></i></a><a target="_blank" href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6">
                    <div class="th-team team-card">
                        <div class="img-wrap">
                            <div class="shape bg-mask" style="mask-image: url(&quot;Content/Refrence/img/bg/team_card_bg.png&quot;);"></div>
                            <div class="team-img"><img src="Content/Refrence/img/team/team_1_2.jpg" alt="Team"></div>
                        </div>
                        <div class="box-content">
                            <span class="team-desig">کشاورزان جوان</span><h3 class="box-title"><a href="team-details.html">الیانا بلینگهام</a></h3>
                            <div class="social-links">
                                <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a><a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a><a target="_blank" href="https://instagram.com/"><i class="fab fa-instagram"></i></a><a target="_blank" href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-6">
                    <div class="th-team team-card">
                        <div class="img-wrap">
                            <div class="shape bg-mask" style="mask-image: url(&quot;Content/Refrence/img/bg/team_card_bg.png&quot;);"></div>
                            <div class="team-img"><img src="Content/Refrence/img/team/team_1_3.jpg" alt="Team"></div>
                        </div>
                        <div class="box-content">
                            <span class="team-desig">کشاورزان ارشد</span><h3 class="box-title"><a href="team-details.html">امانوئل ماکول</a></h3>
                            <div class="social-links">
                                <a target="_blank" href="https://facebook.com/"><i class="fab fa-facebook-f"></i></a><a target="_blank" href="https://twitter.com/"><i class="fab fa-twitter"></i></a><a target="_blank" href="https://instagram.com/"><i class="fab fa-instagram"></i></a><a target="_blank" href="https://linkedin.com/"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                </div>*@

        </div>
    </div>
</section> @* teams -> dynamic => todo : dynamic team link *@ 


@Html.Action("Index", "_SubscribeForm") @* subscribe form (partial) *@